// .auto-grid {
//   --auto-grid-min-size: 16rem;
//   display: grid;
//   grid-template-columns: repeat(
//     auto-fill,
//     minmax(var(--auto-grid-min-size), 1fr)
//   );
//   grid-gap: 1rem;
// }

// Prepare the workspace
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.search-list {
  //   margin: 50px;
  margin-bottom: 60px;
  display: block;
  //   margin-left: 21%;
  padding: 10px;
}

.search-list input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
  //   background: #e8eaf6;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.center-align {
  text-align: center;
  border-radius: 15px;
  border: 2px transparent #e8eaf6;
  display: inline-block;
  background-color: #e8eaf6;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50%;
  padding: 10px;
  transform: translateX(-50%);
}

.collection.with-header {
  background-color: #ccc;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 20px;
}

.collection-header {
  border-radius: 15px;
  margin-top: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e0e0e0;
  padding: 25px 20px;
}

.collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 30px;
  margin: 0;
  border-radius: 15px;
}

.collection-item:hover {
  background-color: #e8eaf6;
  border-radius: 15px;
}
ul {
  list-style-type: none;
}
